/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Kenaz & Liz
   Date:   9/19/18
   
   Filename: ph_styles.css

*/
@charset "utf-8";
@font-face {
    font-family: champagne;
    src: url('cac_champagne.woff') format ('Woff'):
	url('cac_champagne.ttf') format('truetype');
	font-family: Grunge;
    src: url('1942.woff') format ('Woff'):
	url('1942.ttf') format('truetype');
	font-family: Dobkin;
    src: url('DobkinPlain.woff') format ('Woff'):
	url('DobkinPlain.ttf') format('truetype');
}


/* Structural Styles */
body {
background-color : hsl(91,8%,56%);
}


/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

