@charset="utf-8";
@font-face{
		font-family:Champagne;
		src: url('cac_champagne.woff') format('woff'),
		url('cac_champagne.tff') format('truetype');}
@font-face{	
		font-family:Grune;	
		src: url('1942.woff') format('woff'),
		url('1942.tff') format('truetype');}
@fon-face{
		font-family:Dobkin;
		src: url('DobkinPlain.woff') format('woff'),
		url('DobkinPlain.tff') format('truetype');}
	

	
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Victoria Kersey, Peter Classen
   Date: 9/25/2018  
   
   Filename: ph_styles.css

*/


/* Structural Styles */
	html{
		background-color: hsl(91, 8%, 56%);}
	body{
		color: hsl(58,31%,84%);
		font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif.';
	}
	body > header{
		background-color: #82a43a;}
	h1{
		margin:0px;
		padding-top:5px;
		padding-right:25px;
		padding-bottom:25px;
		padding-left:25px;
		font-size:1.1em;
		text-align:horizontal;}
	body > address{
		 font-style:normal;
		 font-size: 0.9em;
		 text-align:horizontal;
		 padding-top:10px;
		 padding-bottom:10px;}
		
		
		
		
		
		

/* Navigation Styles */
nav > ul > li > a{
	font-family: 'Trebuchet MS', Helvetica, sans-serif,;
	padding-top:10px;
	padding-bottom:10px;}
	
	
	






/* Section Styles */




/* Description List Styles */

