@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url('cac_champagne.woff') format('woff'),
		   url('cac_champagne.ttf') format('truetype');
}

@font-face {
	font-family: Dobkin;
	src: url('DobkinPlain.woff') format('woff'),
		   url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
    Author: Cameron Odom & Dylan Brune
    Date:September 27, 2018 
   
   Filename: lake_styles.css

*/

/* HTML and Body Styles */

html {
	background-color: rgb(196, 184, 105);
}

body {
	background-color: plum;
}

/* Header Styles */

header {
	background-color: rgb(92, 17, 124);
}
header > nav > ul > li > a:link, header > nav > ul > li > a:visited {
	color: rgb(196, 184, 105);
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

header > nav > ul > li > a:hover, header > nav > ul > li > a:active {
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: underline;
}

/* Left Column Section Styles */

section#leftcol {
	background-color: white;
}

section#leftcol p {
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-left: 17px;
	padding-right: 20px;
}

section#leftcol h1 {
	font-family: Champagne, cursive;
	font-size: 4em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

section#leftcol > aside > h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

section#leftcol > aside {
	background-color: hsla(0, 99%, 51%, 0.3);
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

section#leftcol > aside > ul > li {
	list-style-type: circle;
	font-size: 0.9em;
}

section#leftcol > aside#events {
	background-color: rgba(174, 121, 31, 0.6);
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

section#leftcol > aside#events h2 {
	font-size: 1.1em;
	font-weight: normal;
}

section#leftcol > aside#events p {
	font-size: 0.9em;
	line-height: 1.1em;
}

/* Right Column Section Styles */

section#rightcol {
	background-color: plum;
}

#rightcol h2 {
	font-family: Champagne, cursive;
	font-size: 2em;
	font-weight: normal;
	color: rgb(92, 17, 124);
	margin: -5px;
	margin-top: 10px;
}

section#rightcol > nav > ul > li > a:link, section#rightcol > nav > ul > li > a:visited {
	text-decoration: none;
	color: gray;
}

section#rightcol > nav > ul > li > a:hover, section#rightcol > nav > ul > li > a:active {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.7);
}
	
section#rightcol > nav > ul > li {
	list-style-type: none;
	font-weight: none;
	font-size: 0.9em;
	text-align: left;
	margin-left: -10px;
}

/* Right Column Blockquote Styles */

blockquote {
	color: rgb(92, 17, 124);
	font-size: 1.2em;
	font-family: 'Times New Roman', Times, serif;
	quotes: "\201C" "\201D";
	margin-left: -5px;
	margin-top: 95px;
	line-height: 1.3em;
}

blockquote::before {
	content: open-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.4em;
	font-weight: bold;
}

blockquote::after {
	content: close-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.4em;
	font-weight: bold;
}

/* Footer Styles */

footer {
	background-color: black;
	color: white;
	text-align: center;
	font: normal small-caps bold 0.8em/2em
			Arial, Helvetica, sans-serif;
}