@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url('cac_champagne.woff') format('woff'),
		   url('cac_champagne.ttf') format('truetype');
}

@font-face {
	font-family: Dobkin;
	src: url('DobkinPlain.woff') format('woff'),
		   url('DobkinPlain.ttf') format('truetype');
}

@/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
    Author: Cameron Odom & Dylan Brune
    Date:September 27, 2018 
   
   Filename: lake_styles.css

*/

html {
	background-color: rgb(193, 158, 17);
}

body {
	background-color: rgb(196, 184, 105);
}

header {
	background-color:rgb(92, 17, 124);
}
header > nav > ul > li > a:link, header > nav > ul > li > a:visited {
	color: rgb(196, 184, 105);
	text-decoration:none;
	margin-top: 5px;
	margin-bottom: 5px;
}

header > nav > ul > li > a:hover, header > nav > ul > li > a:active {
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: underline;
}

section#leftcol {
	background-color: white;
}

section#leftcol p {
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

section#leftcol h1 {
	font-family: Champagne, cursive;
	font-size: 4em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

section#leftcol > aside > h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

section#leftcol > aside {
	background-color: hsla(0, 99%, 51%, 0.3);
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

section#leftcol > aside#events {
	background-color: rgba(174, 121, 31, 0.6);
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

section#leftcol > aside > h2 {
	font-size: 1em;
	font-weight: none;
}

section#rightcol {
	background-color: plum;
	color: purple;
}

#rightcol h2{
	font-family: Champagne, cursive;
	font-size: 2em;
	font-weight: normal;
}

section#rightcol > nav > ul > li > a:link,  {
	font-size: 1em;
	text-decoration: none;
	
}
	